<h2>Category: Grayscale</h2>

<ul>
  <% colorArray.forEach((color) => { %>
    <%if (color.category === "grayscale") { %>
      <ul id="box">
        <li id="hexbox" style="background-color:<%= color.hex %>">
          <li> <%= color.keyword %> </li>
          <li> <%= color.hex %> </li>
        </li>
      </ul>
  <%  } %>
  <% }) %>
</ul>
