<h2>BONUS: Random Color</h2>

<ul>
      <ul id="box">
        <li id="hexbox" style="background-color:<%= colorRandom.hex %>">
          <li> <%= colorRandom.keyword %> </li>
          <li> <%= colorRandom.hex %> </li>
        </li>
      </ul>

</ul>
