<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/styles/master.css" type="text/css">
</head>
<header>
  <h1>PP | Web Colors App</h1>
  <nav>
    <ul>
      <li><a href="/"> Home </a> </li>
      <li><a href="/colors"> Colors </a> </li>
      <li><a href="/category"> Category </a> </li>
      <li><a href="/random"> Random </a> </li>
    </ul>
  </nav>
</header>
<body>
  <%- body -%>


<footer>
  Made with &hearts; at IronHack in Miami.<br>
  &copy; Maria and Wadson
</footer>

</body>


</html>
